body{
    color :white;
    margin : 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.content{
    padding-left: 5%;
    padding-right: 5%;
}
.page_title{
    color :rgb(80, 148, 207);
    font-size: 30px;
    text-align: center;
}
a{
    text-decoration: none;
    color : white;
    transition: color 0.5s;
}
a:hover{
    color : rgb(228, 228, 228);
    
}
.products{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap : 30px;
    margin-top : 20px;
}
.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding : 10px;
    background-color: rgb(80, 148, 207);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.267);
    transition: scale 0.3s,background-color 1s;
}
.product:hover{
    scale : 0.99;
    background-color: rgb(48, 106, 156);

}

.product .name{
    font-size: 35px;
}
.product .price{
    font-size: 30px;
}
input{
    border : none;
    background-color: rgba(0, 0, 0, 0.144);
    padding : 10px;
}
.header{
    margin-bottom : 20px;
    padding : 20px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(80, 148, 207);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap : 40px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.33ch;
}
.form_add{
    color : rgb(80, 148, 207);
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.error{
    color : red;
}

@media only screen and (max-width: 600px) {
    .products{
        grid-template-columns: 1fr;
    }
}