*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.4rem;
    font-family: arial;
    color:white;
}
section{
    height: 100vh;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    text-align: center;
}
button{
    background-color: rgb(13, 136, 11);
    border: none;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color:white;
    width: 100%;
}
button:active{
    scale:0.98;
}
.container-toasts{
    position: fixed;
}
.toast{
    margin:10px 0;
    border-left: 4px green solid;
    background-color:blanchedalmond;
    padding: 1.2rem 1rem;
    color:rgb(30, 30, 30);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.186);
    transition: opacity 0.33s;
}
.toast:hover{
    opacity: 0.33;
}
